secrets.json
secrets.dev.yml
dev.env
prod.env
/.vscode/*
!/.vscode/launch.json

/shell/*
!/shell/start_backend.sh
!/shell/start_webgal.sh

py_venv_fastapi
py_venv_flask
tmp
.fake
__pycache__
logs
instance
.vscode/settings.json
.pytest_cache